{% extends "layout.html" %}

{% block body %}

<h3>About the application</h3>
<hr>

<h5>With this web application, you can transfer styles between your images and videos in a simple interface.</h5>

<a href="https://github.com/AhmetFurkanDEMIR/StylePY">

    <p><font face="tahoma" size="4" color="blue">
    <b>The GitHub page of the application : https://github.com/AhmetFurkanDEMIR/StylePY</b></font></p>

</a>

<pre>&nbsp;</pre>
<pre>&nbsp;</pre>

<h3>Me and my personal accounts</h3>
<hr>

<h5>Hello I am Ahmet Furkan DEMIR, I am a 2nd year student at Computer Engineering at Necmettin Erbakan University. I am developing myself in the field of software engineering. I am writing projects in areas such as cloud systems, artificial intelligence, blockchain and desktop applications.
My goal: To establish my own company in the field of defense industry and software.</h5>

<a href="http://ahmetfurkandemir.com/">

    <p><font face="tahoma" size="4" color="blue">
    <b>My personal website : http://ahmetfurkandemir.com/</b></font></p>

</a>

<a href="https://github.com/AhmetFurkanDEMIR">

    <p><font face="tahoma" size="4" color="blue">
    <b>GitHub : https://github.com/AhmetFurkanDEMIR</b></font></p>

</a>

<a href="https://www.linkedin.com/in/1dfurkan/">

    <p><font face="tahoma" size="4" color="blue">
    <b>Linkedin : https://www.linkedin.com/in/1dfurkan</b></font></p>

</a>

<a href="https://www.kaggle.com/ahmetfurkandemr">

    <p><font face="tahoma" size="4" color="blue">
    <b>Kaggle : https://www.kaggle.com/ahmetfurkandemr</b></font></p>

</a>

<pre>&nbsp;</pre>
<pre>&nbsp;</pre>

{% endblock body %}
